<h1>THE WORLD OF POKÉMON</h1>
<div class="carousel-container">
  <div class="carousel">
    <img
      *ngFor="let image of images; let i = index"
      [src]="image"
      class="carousel-image"
      [@slideAnimation]="currentSlide === i ? 'visible' : 'hidden'"
      [style.zIndex]="currentSlide === i ? 2 : 1"
    />
  </div>
  <div class="carousel-controls">
    <button (click)="prevSlide()">
      <img src="https://img.icons8.com/plasticine/100/null/circled-left.png" />
    </button>
    <button (click)="nextSlide()">
      <img src="https://img.icons8.com/plasticine/100/null/circled-right.png" />
    </button>
  </div>
</div>
