<div class="container">
  <h2 class="liste">La liste des copains!</h2>

  <div>
    <label>Nom de l'ami :</label>
    <input
      type="text"
      [(ngModel)]="amiName"
      (input)="onUpdateAmiName($event)"
    />
    <button class="btnAmi" [disabled]="!authorizeAmi" (click)="onCreationAmi()">
      Ajouter Ami
    </button>
    <p>{{ lesAmisCreationStatus }}</p>

    <p *ngIf="amiCreated; else noAmi">🤙 Un Ami a été ajouté: {{ amiName }}</p>

    <ng-template #noAmi>
      <p>Ne restez pas seul ajoutez un Ami</p>
    </ng-template>

    <label>Couleur du titre :</label>
    <input
      type="text"
      [(ngModel)]="titleColor"
      (input)="onUpdateTitleColor($event)"
    />

    <h2 class="liste" [ngStyle]="{ color: titleColor }">
      La liste des copains!
    </h2>

    <app-un-ami></app-un-ami>
    <hr />
    <app-un-ami></app-un-ami>
    <hr />
    <app-un-ami></app-un-ami>
  </div>
</div>
