.liste {
  font-size: 2rem;
  font-weight: bold;
  color: #19376d;
  text-align: center;
}

.unAmi {
  font-size: 16px;
  color: #e76161;
}
.container {
  border: 1px solid black;
  padding: 30 30;
  background-color: #ecf2ff;
  margin: auto;
  margin-bottom: 30px;
  width: 80%;
}
.btnAmi {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.btnAmi:hover {
  background-color: #0069d9;
}
.btnAmi:disabled {
  opacity: 0.65;
  cursor: not-allowed;
  background-color: #9ba4b5;
}
