.liste {
  font-size: 2rem;
  font-weight: bold;
  color: #19376d;
  text-align: center;
}

.unAmi {
  font-size: 16px;
  color: #e76161;
}
.container {
  border: 1px solid black;
  padding: 30 30;
  background-color: #ecf2ff;
  margin: auto;
  margin-bottom: 30px;
  width: 80%;
}
