<h1>Ma Pokédex</h1>
<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Recherchez votre pokémon"
    (input)="onSearch()"
  />
  <button class="research" (click)="toggleFavorites()">
    {{ showFavoritesOnly ? " Les Pokémon" : " Les favoris" }}
  </button>
</div>

<div *ngIf="noResultsFound">
  <h1 class="">
    Aucun résultat pour <span> {{ searchTerm }}</span>
  </h1>
</div>

<div *ngIf="showFavoritesOnly && favoritePokemonList.length === 0">
  <h1>Aucun Pokémon favori</h1>
</div>

<div class="contain">
  <div class="row">
    <div
      class="col-md-3 mb-3 contain"
      *ngFor="let pokemon of filteredPokemonList"
    >
      <div class="card">
        <img
          class="card-img-top"
          [src]="pokemon?.details?.sprites?.front_default"
          [alt]="pokemon?.name"
        />

        <div class="card-body">
          <h5 class="card-title">{{ pokemon?.name }}</h5>
          <p class="card-text">
            <span> Type</span>: {{ pokemon?.details?.types[0]?.type?.name }}
          </p>
          <button
            class="btn btn-outline-danger"
            *ngIf="!isFavorite(pokemon)"
            (click)="addToFavorites(pokemon)"
          >
            <img
              class="iconFavoris"
              src="https://img.icons8.com/dusk/64/null/plus-2-math.png"
            />
          </button>
          <button
            class="btn btn-danger"
            *ngIf="isFavorite(pokemon)"
            (click)="removeFromFavorites(pokemon)"
          >
            <img
              class="iconFavoris"
              src="https://img.icons8.com/cotton/64/null/like--v3.png"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
