<h1>Pokemon</h1>
<div class="contain">
  <div class="row">
    <div class="col-md-3 mb-3 contain" *ngFor="let pokemon of pokemonList">
      <div class="card">
        <img
          class="card-img-top"
          src="{{ pokemon?.details?.sprites?.front_default }}"
          alt="{{ pokemon?.name }}"
        />

        <div class="card-body">
          <h5 class="card-title">{{ pokemon?.name }}</h5>
          <p class="card-text">
            <span> Type</span>: {{ pokemon?.details?.types[0]?.type?.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
