* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.affichage {
  color: #19a7ce;
}
.container {
  margin-top: 50px;
  border: 1px solid black;
  padding: 30 30;
  background-color: #ecf2ff;
  margin: auto;
  margin-bottom: 30px;
  width: 80%;
}

/* .maDiv {
  display: flex;
  justify-content: space-between;

  width: 100%;
} */
